body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 80px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-family: 'Pacifico', cursive;
  font-size: 34px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .05em;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center; /* 水平中心 */
  align-items: center;
}
.lead {
  margin-bottom: 30px;
}

.catch:before, .catch:after {
  border-top: 1px solid;
  content: "";
  width: 3em; /* 線の長さ */
}
.catch:before {
  margin-right: 1em; /* 文字の右隣 */
}
.catch:after {
  margin-left: 1em; /* 文字の左隣 */
}

.title:before, .title:after {
  border-top: 1px solid;
  content: "";
  width: 10em; /* 線の長さ */
}
.title:before {
  margin-right: 1em; /* 文字の右隣 */
}
.title:after {
  margin-left: 1em; /* 文字の左隣 */
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 20px;
  z-index: 1;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #ffffff;
}

.header-logo {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
  transition: all 0.6s 0.1s ease;
}

.header-logo a {
  color: #333;
}
.header-logo:hover {
  transform: scale(1.05);
  transition: all 0.6s 0.1s ease;
}

.header-nav-list {
  display: flex;
  /* justify-content: space-between; */
}
/* 左から右に線 */
.header-nav-list li a{
  position: relative;
}

/* .header-nav-list li.header-nav-item a, */
.header-nav-list li a:hover{
  color:#0481A2
}

.header-nav-list li a::after{
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: -10%;
    /*線の形状*/
    width: 120%;
    height: 2px;
    background:#0481A2;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

.header-nav-list li a:hover::after {
  transform: scale(1, 1);
}
/*  */


.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-nav-item a {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
  letter-spacing: .05em;
  color: #333;
}

.header-nav-item a:hover {
  opacity: .8;
}

/*--------------------------------
 スプリットスクリーン
---------------------------------*/
.split {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.split-body {
  width: 50%;
  padding-right: 3%;
  padding-left: 10%;
}

.split-img {
  width: 50%;
  height: 95vh;
  background-image: url(../img/yasuhara.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.split-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: .05em;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

/* .works-item:nth-of-type(3n) {
  margin-right: 0;
} */

.works-img{
  overflow:hidden;
  transition: all 0.6s 0.1s ease;
}
.works-img img {
  border: 1px solid #e6e6e6;
  
}
.works-img:hover{
  transform: scale(1.05);
  transition: all 0.6s 0.1s ease;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  left: 40%;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
  margin-left: 20%;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 50px;
}

.skill-img {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 3px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list{
  display: flex;
  justify-content: center;
}


.contact-item:not(:last-child) {
  margin-right: 20px;
}

/* .contact-text {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* ----------------------
ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f3f3f3;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}
/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 100px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 20px;
  text-align: center;
}

.article-img {
  margin-bottom: 20px;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-info-title {
  font-size: 15px;
}

.article-body img {
  margin-bottom: 30px;
}

.article-body p {
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .inner {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header-inner {
    padding: 20px;
  }

  .header-logo {
    font-size: 16px;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .header-nav-item a {
    font-size: 11px;
  }

  /* スプリットスクリーン */
  .split {
    flex-direction: column-reverse;
  }

  .split-body {
    width: 100%;
    padding-right: 3%;
    padding-left: 8%;
  }

  .split-img {
    width: 100%;
    height: 67vh;
    margin-bottom: 20px;
    background-image: url(../img/yasuhara.jpg);
  }

  .split-title {
    font-size: 32px;
  }

  /* Works */
  .works-name {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 20 0 85%;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }
}

  .icons8 {
    font-size: 6px;
}


/* オープニング */

#border-u,#border-d{
  animation-name: fadein-ud;
  animation-duration: 0.1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadein-ud{
0% {
  height: 0;
}
100% {
  height: 25px;
}
}
#border-l,#border-r{
  animation-name: fadein-rl;
  animation-duration: 0.4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadein-rl{
0% {
  width: 0;
}
100% {
  width: 15px;
}
}

#border-u,#border-r,#border-l,#border-d{
  position: fixed;
  background: #84e1e7;
  z-index: 999;
}
#border-uu {
  width: 100%;
  height:25px;
  background: #ffffff;
  top:0
}
#border-u{
  width: 100%;
  height: 0px;
  top: 0;
}
#border-r{
  width: 0px;
  height: 100vh;
  right: 0;
}
#border-d{
  width: 100%;
  height: 0px;
  bottom: 0;
}
#border-l{
  width: 0px;
  height: 100vh;
  left: 0;
}

/* Works */
.heading11 {
	position: relative;
	font-size: 26px;
	text-align: center;
  margin-top: 10%; 
}

.heading11::before {
	content: attr(data-number);
	display: block;
	margin-bottom: 30px;
	color: #f54848;
	font-size: 30px;
}

.heading11::after {
	content: '';
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 1px;
	height: 20px;
	background-color: #fc5185;
}

.worksmain {
  margin-top: 10%; 
}

/* カルーセル */

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  text-align: center;
  line-height: 100px;
  
}


/* スマホ画面 */
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  #border-u,#border-r,#border-l,#border-d{
    position: fixed;
    background: #ffffff;
    z-index: 999;
  }
  #border-u{
    width: 100%;
    height: 0px;
    top: 0;
  }
  #border-r{
    width: 0px;
    height: 0;
    right: 0;
  }
  #border-d{
    width: 0;
    height: 0px;
    bottom: 0;
  }
  #border-l{
    width: 0px;
    height: 0;
    left: 0;
  }

  .works-item {
    width: 100%;
    margin-right: 1.58730%;
    margin-bottom: 40px;
    color: #333;
  }

}

/* タブレット画面 */
@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  /* #border-u,#border-r,#border-l,#border-d{
    position: fixed;
    background: #ffffff;
    z-index: 999;
  }
  #border-u{
    width: 100%;
    height: 0px;
    top: 0;
  }
  #border-r{
    width: 0px;
    height: 0;
    right: 0;
  }
  #border-d{
    width: 0;
    height: 0px;
    bottom: 0;
  }
  #border-l{
    width: 0px;
    height: 0;
    left: 0;
  } */
}
