
/* p {
=======
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
  background-color:#99cc00;
  width: 300px;
} */

nav {
  width: 100%;
  height: 70px;
  background-color: darkgray;
  padding-top: 5px;
  box-sizing: border-box;
}
ul.menu {
  display: flex;
}
li.menu {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

footer{
  text-align: center;
}

/* オープニングシャッター */

.top-op,.top-op2{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.top-op{
  z-index: 99;
  background: #f2f2f2;
  animation-duration: 1.2s;
  animation-delay:1.4s;
  animation-fill-mode: forwards;
  animation-name: top-op;
}
.top-op2{
  z-index: 100;
  background: #e2e2e2;
  animation-duration: 0.7s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-name: top-op2;
}

@keyframes top-op{
0% {
  width: 100%;
  left:0;
}
50% {
  width: 100%;
}
100% {
  width: 0%;
  left: 100%;
}
}
@keyframes top-op2{
0% {
  width: 100%;
  left:0;
}
50% {
  width: 100%;
}
100% {
  width: 0%;
  left: 100%;
}
}

img {
  width:20%;
  height:auto;
}
